# osx / sshfs
._*
.DS_Store

# emacs / vim
*~
\#*\#
.\#*

vendor
node_modules
build
bin
dynamo-local
workflow-manager

swagger2markup-cli-1.3.1.jar
mocks/
gen-go/server/db/dynamodb/shared-local-instance.db
